/* Stylowanie overlaya */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


/* Stylowanie okna koszyka */
#okno-koszyka {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    padding: 20px;
    border-radius: 5px;
    z-index: 10000;
}

#kontener {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 0 auto;
    padding: 20px;
}

header {
    background-color: lightblue;
}

nav {
    background-color: lightgray;
}

#produkty {
    flex: 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Tło przyciemnione */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}

nav {
    flex: 0 0 auto;
    background-color: lightgray;
    padding: 20px;
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}



.notification{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px;
    opacity: 0;
    visibility: hidden;
    rgba(0,0,0,.1);
}

.notification{
    animation: fade 4s linear forwards;
    transform: translateY(30px);

}

.column {
        width: 100%;
        display: flex;
        flex-direction: column;
}

.column h3{
    margin-top: 20px;
}
.column ul li{
    margin-top: 60px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 800px) {
        #produkty {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .column {
            width: calc(33.33% - 20px); /* 20px to uwzględnienie marginesów */
            margin-bottom: 20px;
        }

        header {
        height: 100px;

        }
        header img {
        max-width: 100%;
        max-height: 100%;

        }
}


#content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }




.progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 2px;
    height: 10px;
    background-image: linear-gradient(to right,#529bdb, pink);
    border-radius: 4px;
    animation: progress 3s .25s
    linear forwards;
}

@keyframes fade{
    5%{
        opacity:1;
        visibility:visible;
        transform: translateY(0px);
    }
    90%{
        opacity:1;
        transform: translateY(0px);
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity:0;
        transform: translateY(-30px);
    }
}
@keyframes progress{
    to{
        width: calc(100% - 10px);
    }
}


* {
    margin: 0;
    padding: 0;
}

#kontener {
    background: #3586ff;
    position: relative; /* Dodajemy pozycję względną do kontenera */
    z-index: 1; /* Zwiększamy wartość z-index, aby warstwa fali była poniżej innych elementów */
}

#fale {
    position: absolute; /* Ustawiamy pozycję absolutną, aby utrzymać sekcję na dole kontenera */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    z-index: -1; /* Zmieniamy z-index na -1, aby fale były zawsze na tle */
}

#fale .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('wave.png');
    background-size: 1000px 100px;
}

#fale .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1; /* Zwiększamy z-index fali, aby była na wierzchu tła kontenera */
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

#fale .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 1; /* Zwiększamy z-index fali, aby była na wierzchu tła kontenera */
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

#fale .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 1; /* Zwiększamy z-index fali, aby była na wierzchu tła kontenera */
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

#fale .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 1; /* Zwiększamy z-index fali, aby była na wierzchu tła kontenera */
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}



h2{
    text-align: center; /* Wyśrodkowanie tytułu */
    color: #fff; /* Kolor tekstu na przyciemnionym tle */
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}




#produkty h3 {
    text-align: center; /* Wyśrodkowanie tytułu kategorii */
    color: #fff; /* Kolor tekstu na przyciemnionym tle */
}

#produkty li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px; /* Dodajemy margines po prawej stronie dla odstępu między elementami */
    margin-bottom: 40px; /* Dodatkowy odstęp między elementami */
    color: white;
}

/* Styl dla nazwy produktu */
#produkty li span {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

/* Styl dla przycisku */
#produkty li button {
    margin-top: 10px;
    margin-bottom: 20px;
}
body {
    background-color: #3586ff; /* Twój wybrany kolor tła */
}


nav li {
    display: flex;
    margin-right: 10px;
}

nav a:hover {
    background-color: #369;
    color: #fff;
    cursor: url('kursor2.png'), auto;
}


nav a.buttona{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    background-color: #ddd;
    color: #333;
    border-radius: 4px;

}

nav a.buttona:hover {
    background-color: #369;
    color: #fff;
    cursor: url('kursor2.png'), auto;
}
#koszyk {
    list-style-type: none;
    padding: 0;
}

#koszyk li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#koszyk li img {
    margin-right: 10px;
}

#koszyk li button {
    margin-left: 10px;
}
.ilosc-container {
    margin-left: 10px;
    margin-right: 10px;
}

.ilosc-container {
    display: flex;
    align-items: center;
}

.ilosc-container input {
    width: 30px; /* Zmniejsz szerokość pola tekstowego */
    margin-right: 5px; /* Dodaj odstęp na prawo od pola tekstowego */
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

}


body {
    cursor: url('kursor1.png'),auto;
}

#produkty li {
    display: flex;
    align-items: center;
    height: 200px; /* Ustawiaj wysokość kontenera na odpowiednią wartość */
}

#produkty li img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

h4{
    text-align: center;
    margin: 3%;
    margin-right: 20%;
    margin-left: 20%;

}

#content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.comment-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.comment-info {
    font-size: 16px;
}

.comment-container .comment {
    font-size: 24px;
}

/* Reguły dla szerokości ekranu mniejszej lub równej 600 pikseli (dla telefonów) */
@media (max-width: 800px) {
    #content {
        padding: 10px;
    }

    .comment-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .comment-container .comment {
        font-size: 20px;
    }

    .comment-info {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    /* Ustaw szerokość iframe z mapą na 100% szerokości ekranu */
    iframe {
        width: 100%;
        height: auto;
    }

    /* Zmniejsz wielkość czcionki w sekcji #content */
    #content {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .notification {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(0);
    }
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}